* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #1fe28b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  display: flex;
  width: 400px;
  background: #fff;
  border-radius: 6px;
}

.photo-main {
  height: 80%; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(135deg, #b4ec51, #429321);
}

.photo-container{
  position: relative;
  width: 200px;
  height: 85%;
  left: -50px;
  top: 25px;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.photo-main img{
	position: relative;
	width: 100%;
	left: -50px;
}


.controls {
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.photo-album {
	background-color: whitesmoke;
}

.photo-album ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.photo-album li {
  padding-top: 10px;
}

.photo-album img {
  width: 30px;
}

/* RIGHT SIDE */
.product__info {
  width: 55%;
  padding: 30px;
}

/* TITLE */
.title h1 {
  font-size: 20px;
  margin-bottom: 4px;
}

.title span {
  font-size: 11px;
  color: #888;
}

/* PRICE */
.price {
  margin: 20px 0;
  color: #ff3f40;
  font-size: 18px;
}

.price span {
  font-size: 34px;
  font-weight: bold;
}

/* COLOR VARIANT */
.variant h3 {
  font-size: 11px;
  color: #888;
  margin-bottom: 10px;
}

.variant ul {
  display: flex;
  list-style: none;
}

.variant li {
  margin-right: 10px;
  padding: 6px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.variant img {
  width: 24px;
}

/* BENEFITS */
.description {
  margin-top: 20px;
}



.description ul {
  font-size: 12px;
  color: #555;
  margin-bottom: 20px;
}

.description li {
  margin-bottom: 6px;
}

.cart-btn{
margin-top: 25px;
  padding: 12px 28px;
  background-color: #ff3f40;
  color: #fff;
  font-size: 12px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}
